.homepage {
  background-color: #84DCCF;
  margin: 0px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav .logo {
  margin-left: 1rem;
}

nav .logopng {
  width: 100px;
  height: 100px;
}

nav .links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .links li {
  margin: 0 1rem;
  padding-left: 40px;
}

nav .links li a {
  text-decoration: none;
  color: #22181C;
  font-family: 'Nutino', sans-serif;
  font-size: 18px
}

nav .social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li img {
  width: 30px;
  height: 30px;
}

nav .social-links li {
  margin: 0 0.5rem;
}

.search-outer-rectangle {
  position: absolute;
  width: 1000px;
  height: 500px;
  background: #F6E8EA;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.pre-search-text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Nutino', sans-serif;
}

.pre-search-text h1 {
  font-size: 45px;
  background-image: linear-gradient(45deg, #7CE8FF, #55D0FF);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pre-search-text p {
  color: #312F2F;
}

input[type=text] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  width: 30%;
  height: 5%;
  border-radius: 10px;
}

.tracking-number-input button{
  position: absolute;
  top: 50%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  height: 6%;
  width: 6%;
  border-radius: 10px;
  background-color: #EF626C;
}