.homepage {
  background-color: #84DCCF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav .logo {
  margin-left: 1rem;
}

nav .logopng {
  width: 100px;
  height: 100px;
}

nav .links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .links li {
  margin: 0 1rem;
  padding-left: 40px;
}

nav .links li a {
  text-decoration: none;
  color: #22181C;
  font-family: 'Nutino', sans-serif;
  font-size: 18px
}

nav .social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li img {
  width: 30px;
  height: 30px;
}

nav .social-links li {
  margin: 0 0.5rem;
}